.Rproj.user
.Rhistory
.RData
.Ruserdata

# don't track the knitted documents
data-wrangling.html
data-wrangling-answer-key.html

# don't track enormous .csv files
data/wvs.csv
data/NMC_5_0/
data/NMC_5_0.csv

# don't track .csv's created in the exercises
data/cars.csv
data/primary_analysis.csv